.item {
    padding: 0 !important;
}

table {
    border: 3px double black;
}

th {
    text-align: center;
    padding: 10px;
}

th, td {
    font-size: 120%;
    border: 1px solid black;
}

td {
    text-align: center;
    font-size: 220%;
    vertical-align: middle;
}

td > img {
    max-height: 140px;
    max-width: 140px;
}
