<!DOCTYPE html>

<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Shopping App</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
 
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/calc_ctrl.js"></script>
</head>

<body ng-controller="CalcCtrl">
    <ion-header-bar class="bar bar-header bar-energized">
        <p id="total">Total: {{total_cart | currency: "€ "}} </p>
    </ion-header-bar>
   <!--<h2>Click on the link to go to basket <a href="/basket"></a></h2> -->

    <ion-pane>
        <ion-content class="has-header">
            <ion-list can-swipe="true">
                <ion-item class="item-button-right item-avatar">
                    <img src="img/milk_1L.png" alt="Milk (1l)"> {{items[0].name}}
                    <button class="button button-positive" ng-click="addItem(items[0])">{{items[0].price | currency: "€"}}</button>
                    <ion-option-button class="button-light icon ion-minus-circled" ng-click="removeItem(items[0])"> </ion-option-button>
                    <ion-option-button>
                        <a class="button button-icon icon ion-android-settings" ng-click="priceChange(items[0].price)"></a>
                    </ion-option-button>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item class="item-button-right item-avatar">
                    <img src="img/milk_2L.png" alt=" Milk (2l)"> {{items[1].name}}
                    <button class="button button-positive" ng-click="addItem(items[1])">{{items[1].price | currency: "€"}}</button>
                    <ion-option-button class="button-light icon ion-minus-circled" ng-click="removeItem(items[1])"></ion-option-button>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item class="item-button-right item-avatar">
                    <img src="img/bread_sl-brown.png" alt="Bread_Brown"> {{items[2].name}}
                    <button class="button button-positive" ng-click="addItem(items[2])">{{items[2].price | currency: "€"}}</button>
                    <ion-option-button class="button-light icon ion-minus-circled" ng-click="removeItem(items[2])"></ion-option-button>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item class="item-button-right item-avatar">
                    <img src="img/bread_sl-white.png" alt="White Sliced Bread"> {{items[3].name}}
                    <button class="button button-positive" ng-click="addItem(items[3])">{{items[3].price | currency: "€"}}</button>
                    <ion-option-button class="button-light icon ion-minus-circled" ng-click="removeItem(items[3])"></ion-option-button>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item class="item-button-right item-avatar">
                    <img src="img/tea_40bags.png" alt="tea bags"> {{items[4].name}}
                    <button class="button button-positive" ng-click="addItem(items[4])">{{items[4].price | currency: "€"}}</button>
                    <ion-option-button class="button-light icon ion-minus-circled" ng-click="removeItem(items[4])"></ion-option-button>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>


</body>

</html>
