<ion-view view-title="Shopping">
  <ion-content>
    <!-- <ion-header-bar class="bar bar-header bar-energized"></ion-header-bar>  -->
        <h1>Basket </h1>
        <p>This is a list of your basket items and quantities</p>

         <table id="cart_table">
            <tr>
                <th>Item</th>
                <th>Quantity Bought</th>
            </tr>
            <tr>
                <td><img src="img/milk_1L.png"></td>
                <td>{{items[0].qty}}</td>
            </tr>
        </table>
    
<!--     <ion-pane>

      <div class="list">

    <class="item item-thumbnail-left" href="#">

    <img src="img/milk_1L.png" alt="Milk (1l)"> {{cartItems[0].qty}}
    <img src="img/milk_2L.png" alt="Milk (2l)"> {{cartItems[1].qty}}
    <img src="img/bread_sl-brown.png" alt="bread-sliced-brown"> {{cartItems[2].qty}}
    <img src="img/bread_sl-white.png" alt="bread-sliced-white"> {{cartItems[3].qty}}
    <img src="img/tea_40bags.png" alt="tea-bags-80"> {{cartItems[4].qty}}
     
     
      
</div> 
              

        
    </ion-pane> -->
  </ion-content>
</ion-view>
