<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-top tabs-color-active-positive tabs-icon-top">

  <!-- Prices Tab -->
  <ion-tab title="Prices" icon="ion-calculator" href="#/tab/prices">
    <ion-nav-view name="tab-prices"></ion-nav-view>
  </ion-tab>

  <!-- Shopping List Tab -->
  <ion-tab title="Shopping" icon="ion-ios-cart-outline" href="#/tab/shopping">
    <ion-nav-view name="tab-shopping"></ion-nav-view>
  </ion-tab>


</ion-tabs>
